rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read/write access to all users under any conditions
      // Warning: These rules are for development only
      allow read, write: if true;
    }
  }
}
